//$color-primary: #03045e;
//$color-secondary: #2a9d8f;
//$color-text: #fff;
$color-text: #051923;
$color-text-secondary: #00A6FB;
$color-highlight: #0582CA;
$color-highlight-secondary: #006494;//#006494;
$color-bg-secondary: #003554;
$color-code: $color-highlight;
//$color-bg: #272822;
$color-bg: #f6f6f6;
$color-white: #ffffff;
//$color-text-secondary: rgb(117, 113, 94);